@import '../../../../_sass/abstracts/variables';

.description {
  box-shadow: $card-description-boxshadow;
  
}

label {
  display: flex;
}

input {
  margin: 0.3rem;
  margin-left: 0rem;
  margin-right: 1rem;
  padding: 0;
}