<!-- TODO better styling -->
<section class="friends">
  <div class="row">
    <h1 class="friends__main-title">Vriendenlijst</h1>
  </div>
  <div class="row">
    <div class="card" *ngFor="let friend of friends">
      <div class="friends__head-container">
        <div [innerHTML]="friend?.title.rendered" class="card-title"></div>
        <div class="card-image">
          <img src="{{ friend.acf.image_friend }}" alt="image" />
        </div>
        <a routerLink="/friends/{{ friend.id }}">Detail</a>
      </div>

      <div [innerHTML]="friend?.content.rendered" class="card-text"></div>
    </div>
  </div>
  <div class="row">
    <a [routerLink]="['/home']" class="btn-outside"><i class="ion-home"></i></a>
  </div>
</section>
