.sleep-goals { 
  width: 100%;
  &__time-container {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .card-title-detail {
      margin: 0;
    }
    input {
      width: 100%;
    }
  }
}