<section class="tips-tools">
  <div class="row">
    <h1 class="tips-tools__main-title">Tips en tools</h1>
  </div>
  <div class="row tips-tools__subtitle-container">
    <a
      [routerLink]="['/tips-tools/tips']"
      routerLinkActive="active-link"
      class="tips-tools__subtitle"
      >Tips</a
    >
    <a
      [routerLink]="['/tips-tools/videos']"
      routerLinkActive="active-link"
      class="tips-tools__subtitle"
      >Filmpjes</a
    >
    <a
      [routerLink]="['/tips-tools/memes']"
      routerLinkActive="active-link"
      class="tips-tools__subtitle"
      >Memes</a
    >
  </div>

  <div class="row">
    <div class="card" *ngFor="let lessMeme of lessMemes">
      <p class="memes-title">{{ lessMeme.name }}</p>
      <img
        class="memes-img"
        height="{{ lessMeme.height }}"
        src="{{ lessMeme.url }}"
        alt="meme-img"
      />
    </div>
  </div>
  <div *ngIf="loading" class="loading-container">
    <app-loader></app-loader>
  </div>
  <div *ngIf="showMore">
    <div class="row">
      <div class="card" *ngFor="let moreMeme of moreMemes">
        <!-- Data is from a different memes api -->
        <p class="memes-title">{{ moreMeme.name }}</p>
        <img class="memes-img" src="{{ moreMeme.image }}" alt="meme-img" />
      </div>
    </div>
  </div>
  <div class="row">
    <a (click)="showMoreMemes()" class="btn-outside">Meer memes</a>
  </div>
  <div class="row">
    <a [routerLink]="['/create-tips-tools']" class="btn-outside">Maak</a>
  </div>
  <div class="row">
    <a [routerLink]="['/home']" class="btn-outside"><i class="ion-home"></i></a>
  </div>
</section>
