<section class="tips-tools">
  <div class="row">
    <h1 class="tips-tools__main-title">Tips en tools</h1>
  </div>
  <div class="row tips-tools__subtitle-container">
    <a
      [routerLink]="['/tips-tools/tips']"
      routerLinkActive="active-link"
      class="tips-tools__subtitle"
      >Tips</a
    >
    <a
      [routerLink]="['/tips-tools/videos']"
      routerLinkActive="active-link"
      class="tips-tools__subtitle"
      >Filmpjes</a
    >
    <a
      [routerLink]="['/tips-tools/memes']"
      routerLinkActive="active-link"
      class="tips-tools__subtitle"
      >Memes</a
    >
  </div>

  <div class="row">
    <div class="card">
      <!-- For the memes: TODO put in seperate page 
  https://mememaker.github.io/API/
  https://api.imgflip.com/ -->
    </div>
  </div>

  <div class="row">
    <a [routerLink]="['/create-tips-tools']" class="btn-outside">Maak</a>
  </div>
  <div class="row">
    <a [routerLink]="['/home']" class="btn-outside"><i class="ion-home"></i></a>
  </div>
  <div class="row">
    <!-- Top button -->
  </div>
</section>
