<section class="friends">
  <div class="row">
    <h1 class="friends__main-title">Vriendenlijst</h1>
  </div>
  <div class="row">
    <div class="card">
      <div class="friends__head-container">
        <div [innerHTML]="friend?.title.rendered" class="card-title"></div>
        <div class="card-image">
          <img src="{{ friend.acf.image_friend }}" alt="image" />
        </div>
        <div
          style="position:relative; width:100%; height:0px; padding-bottom:56.25%"
        >
          <iframe
            [src]="displayLatitudeLongitude()"
            width="600"
            height="450"
            frameborder="0"
            style="position:absolute; left:0; top:0; width:100%; height:100%"
            allowfullscreen=""
          ></iframe>
          <!-- <a
            href="https://www.latlong.net/c/?lat=51.007069&long=3.885180"
            target="_blank"
            >(51.007069, 3.885180)</a
          > -->
        </div>
      </div>
      <div [innerHTML]="friend?.content.rendered" class="card-text"></div>
    </div>
  </div>
  <div class="row">
    <a [routerLink]="['/friends']" class="btn-outside"
      ><i class="ion-arrow-left-c"></i
    ></a>
  </div>
</section>
