<section class="tips-tools">
  <div class="row">
    <h1 class="tips-tools__main-title">Tips en tools</h1>
  </div>
  <div class="row tips-tools__subtitle-container">
    <a
      [routerLink]="['/tips-tools/tips']"
      routerLinkActive="active-link"
      class="tips-tools__subtitle"
      (click)="getAllTipsTools()"
      >Tips</a
    >
    <a
      [routerLink]="['/tips-tools/videos']"
      routerLinkActive="active-link"
      class="tips-tools__subtitle"
      >Filmpjes</a
    >
    <a
      [routerLink]="['/tips-tools/memes']"
      routerLinkActive="active-link"
      class="tips-tools__subtitle"
      >Memes</a
    >
  </div>
  <div class="row tips-tools__subtitle-container">
    <button *ngFor="let tip_tool of tips_tools">
      <p
        (click)="filterByAuthor(author.id)"
        *ngFor="let author of tip_tool._embedded.author"
      >
        {{ author.name }}
      </p>
    </button>
  </div>
  <div class="row tips-tools__subtitle-container arrow-container">
    <div *ngIf="!newFilteredData" (click)="SortByDateClick()">
      <i class="ion-arrow-up-c"></i>
    </div>
    <div *ngIf="newFilteredData" (click)="getAllTipsTools()">
      <i class="ion-arrow-down-c"></i>
    </div>
  </div>
  <div *ngIf="loading" class="loading-container">
    <app-loader></app-loader>
  </div>
  <div *ngIf="!newFilteredData" class="row">
    <div class="card" *ngFor="let tip_tool of tips_tools">
      <div [innerHTML]="tip_tool?.title.rendered" class="card-title"></div>
      <div [innerHTML]="tip_tool?.content.rendered" class="card-text"></div>

      <a routerLink="/tips-tools/tips/{{ tip_tool.id }}">Detail</a>

      <div
        class="tips-tools__heart-container"
        *ngFor="let author of tip_tool._embedded.author"
      >
        <p>Door : {{ author.name }}</p>
        <!-- <i (click)="addLike()" class="icon-heart ion-ios-heart-outline"></i> -->
        <!-- <div (click)="!(show = show)"> -->
        <div (click)="toggle()">
          <i *ngIf="show" class="icon-heart ion-ios-heart-outline"></i>
          <i *ngIf="!show" class="icon-heart ion-ios-heart"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="newFilteredData">
    <!-- If we filter on a name, we show the new data based on the id -->
    <div class="card" *ngFor="let filteredData of filteredDatas">
      <div [innerHTML]="filteredData?.title.rendered" class="card-title"></div>
      <div [innerHTML]="filteredData?.content.rendered" class="card-text"></div>

      <a routerLink="/tips-tools/tips/{{ filteredData.id }}">Detail</a>

      <!-- <div
        class="tips-tools__heart-container"
        *ngFor="let author of tip_tool._embedded.author"
      >
        <p>Door : {{ author.name }}</p>
        <div (click)="toggle()">
          <i *ngIf="show" class="icon-heart ion-ios-heart-outline"></i>
          <i *ngIf="!show" class="icon-heart ion-ios-heart"></i>
        </div>
      </div> -->
    </div>
  </div>
  <div class="row">
    <a [routerLink]="['/create-tips-tools']" class="btn-outside">Maak</a>
  </div>
  <div class="row">
    <a [routerLink]="['/home']" class="btn-outside"><i class="ion-home"></i></a>
  </div>
  <div class="row">
    <!-- Top button -->
  </div>
</section>
