<header class="header" role="header">
  <section class="header__navigation">
    <a class="header__logo" [routerLink]="['/home']"
      ><img src="../../../../assets/images/moon.png" alt="logo"
    /></a>
    <a class="header__hamburger hidden" (click)="sidebarOpen()"
      ><i class="icon ion-navicon"></i
    ></a>
  </section>
  <section class="header__links">
    <a *ngIf="isLoggedIn" [routerLink]="['/profile']">Profiel</a>
    <a *ngIf="isLoggedIn" [routerLink]="['/create-sleep-goals']"
      >Slaap doelen</a
    >
    <a *ngIf="isLoggedIn" [routerLink]="['/quiz']">Quiz</a>
    <a *ngIf="isLoggedIn" [routerLink]="['/tips-tools']">Tips en Tools</a>
    <a *ngIf="isLoggedIn" [routerLink]="['/photos-competition']"
      >Fotowedstrijd</a
    >
    <a *ngIf="isLoggedIn" [routerLink]="['/calming-sounds']"
      >Kalmerende geluiden</a
    >
    <a *ngIf="!isLoggedIn" [routerLink]="['/login']">Login</a>
    <a *ngIf="!isLoggedIn" [routerLink]="['/register']">Register</a>
    <a class="logout-button" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
  </section>
</header>

<!--
<header class="header" role="header">
  <h2 class="hidden">Header</h2>
  <section class="header__section header__section--toolbar">
    <h3 class="hidden">Toolbar</h3>
    <section class="toolbar__navigation">
      <h4 class="hidden">Navigation</h4>
      <a class="header__hamburger" (click)="sidebarOpen()" aria-label="Open sidebar"><i class="icon ion-navicon"></i></a>
    </section>
    <section class="toolbar__logo">
      <h4 class="hidden">Logo</h4>
      <a class="header__logo" routerLink="/" title="Website GDM.GENT"><span>{{ logoTitle }}</span></a>
    </section>
    <section class="toolbar__social">
      <h4 class="hidden">Social media links</h4>
      <a class="header__socialmedia-link" href="https://www.facebook.com/GrafischeendigitalemediaArteveldehogeschool/"
        title="Facebook pagina" target="_blank"><i class="icon ion-social-facebook"></i></a>
      <a class="header__socialmedia-link hidden-for-smartphone" href="https://www.instagram.com/madebygdm/" title="Instagram"
        target="_blank"><i class="icon ion-social-instagram"></i></a>
      <a class="header__socialmedia-link" href="https://twitter.com/arteveldegdm" title="Twitter" target="_blank"><i
          class="icon ion-social-twitter"></i></a>
      <a class="header__socialmedia-link hidden-for-smartphone" href="https://vimeo.com/bachelorgdm" title="Vimeo"
        target="_blank"><i class="icon ion-social-vimeo"></i></a>
      <a class="header__socialmedia-link hidden-for-smartphone" href="https://github.com/gdmgent" title="GitHub" target="_blank"><i
          class="icon ion-social-github"></i></a>
      <a class="header__socialmedia-link" href="http://www.arteveldehogeschool.be/opleidingen/bachelor/grafische-en-digitale-media"
        target="_blank" title="GDM-website binnen de Arteveldehogeschool"><i class="icon ion-ahs"></i></a>
    </section>
  </section>
</header>
-->
