<section class="tips-tools">
  <div class="row">
    <h1 class="tips-tools__main-title">Tips en tools</h1>
  </div>
  <div class="row tips-tools__subtitle-container">
    <a
      [routerLink]="['/tips-tools/tips']"
      routerLinkActive="active-link"
      class="tips-tools__subtitle"
      >Tips</a
    >
    <a
      [routerLink]="['/tips-tools/videos']"
      routerLinkActive="active-link"
      class="tips-tools__subtitle"
      >Filmpjes</a
    >
    <a
      [routerLink]="['/tips-tools/memes']"
      routerLinkActive="active-link"
      class="tips-tools__subtitle"
      >Memes</a
    >
  </div>
  <div class="row">
    <div class="card" *ngFor="let videoURL of videoURLs">
      <iframe
        width="100%"
        height="315"
        [src]="_sanitizer.bypassSecurityTrustResourceUrl(videoURL)"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="row">
    <a [routerLink]="['/create-tips-tools']" class="btn-outside">Maak</a>
  </div>
  <div class="row">
    <a [routerLink]="['/home']" class="btn-outside"><i class="ion-home"></i></a>
  </div>
  <div class="row">
    <!-- Top button -->
  </div>
</section>
